@import "styles/variables.scss";
@import "styles/mixins.scss";

.wrap {
  @include breakpoint(mobile) {
    max-width: 100vw;
    overflow: auto;
  }
  table {
    tr {
      &.tableFieldsTitle {
        border: 0.4px solid #c0bfbf !important;
        border-radius: 4px;
      }
    }
    th {
      background: #fe772840 !important;
      &.tableTitle {
        background-color: $secondary !important;
        color: $white;
        font-size: 2rem;
        border-radius: 3px;
        border: none !important;
        height: 80px;
        div {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          padding: 0 1rem;
        }
      }

      &.tableFillter {
        background-color: $white !important;
        border: none !important;
      }

      &.leftFillter {
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            color: #535353;
          }
          .select {
            max-width: 180px;
          }
        }
      }

      .searchWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        justify-content: end;
        span {
          color: #535353;
        }
      }
      .searchInput {
        width: 300px;
        input {
          &[type="text"] {
            border-radius: 4px !important;
          }
        }
      }
      .searchButton {
        min-width: 50px !important;
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          vertical-align: middle;
          &:first-child {
            text-align: start;
            border-left: 5px solid $primary;
            border-radius: 4px 0 0 4px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            a {
              color: $secondary;
            }
            .category {
              font-weight: 600;
              font-size: 0.85rem;
              color: $primary;
              width: max-content;
              padding: 0.1rem 1rem;
              background: rgba($color: $primary, $alpha: 0.15);
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

.tableTitle {
  background-color: $secondary;
  width: 100%;
}

.paginationWrapper {
  position: sticky;
  bottom: 0;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.linkCity {
  color: $coolBlue;
  cursor: pointer;
}
.linkCity:hover {
  text-decoration: underline;
}
.tableViewWrapper {
  position: relative;
  thead {
    th {
      @include breakpoint(tab-landscape-up) {
        top: 180px;
      }
    }
  }
}

.tableViewWrapRealtor {
  thead {
    th {
      @include breakpoint(tab-landscape-up) {
        top: 145px;
      }
    }
  }
}

.realtorsMainLink {
  z-index: 11;
  width: 100%;
  background-color: $fill;
  color: $secondary;
  position: sticky;
  top: 95px;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  font-weight: 600;

  @include breakpoint(mobile) {
    padding: 1rem;
    top: 110;
  }

  @include breakpoint(tab-landscape-up) {
    top: 143px;
  }
}
