@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding: 1rem 0rem;
  display: flex;
  height: 100%;
  flex-direction: column;

  .link {
    color: $white;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 600;
    cursor: pointer;
    gap: 20px;
    box-shadow: none;
    transition: background-color 0.24s ease, box-shadow 0.24s ease;
    border-left: 2px solid transparent;
    svg {
      color: $white;
    }

    p {
      margin-top: 0;
      margin-bottom: 0px;
      transition: color 0.24s ease;
    }
    &:hover {
      border-left: 2px solid $white;
      background-color: rgba($color: $white, $alpha: 0.2);
    }
    &:first-of-type {
      margin-top: 1rem;
    }

    &:nth-child(7) {
      margin-top: auto;
    }

    &.active {
      background-color: rgba($color: $white, $alpha: 0.2);
      border-left: 2px solid $white;
      z-index: 2;
      p {
        color: $white;
      }
    }
  }
}
