@import "styles/variables";
@import "styles/mixins";

.wrapper {
  border-radius: 3px;
  cursor: pointer;
  color: $white;
  padding: 1rem;
  position: relative;
  background: rgba(255, 255, 255, 0.04);
  border: 2px solid transparent;
  transition: 0.25s all ease;
  width: 100%;

  &:hover {
  background: rgba(255, 255, 255, 0.14);
    
  }

  @include breakpoint(mobile) {
    padding: 1.25rem 1rem;
  }
  &.cardActive {
    border: 2px solid $white;
  }

  .circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      transition: 0.25s all ease;
      visibility: none;
      opacity: 0;
    }

    &.activeCircle {
      color: $success;
      svg {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .price {
    font-size: 2rem;
    font-weight: 600;
  }

  .packageType {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.25rem 0;
    font-family: var(--title-font);
  }

  .contactCounts {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      color: $primary;
    }
  }
}
