@import "styles/variables";
@import "styles/mixins";

.paypal {
  padding-left: 1rem;
}

.radioButton {
  background-color: rgba($color: $fill, $alpha: 0.16);
  border: 1px solid $border;
  width: 190px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.radioButton:hover {
  border: 1px solid $primary;
}

.active {
  background-color: rgba($color: $primary, $alpha: 0.16);
  border: 1px solid $primary;
}

.wrapper {
  button {
    @include breakpoint(mobile) {
      height: auto !important;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
