@import "styles/mixins";
@import "styles/variables";

.otherStateTitle {
  font-size: 2rem;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 2rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    h6,
    p,
    b,
    span {
      font-size: 1.5rem;
    }
  }
}

.otherStateDescription {
  text-align: center;
  width: 80%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 1rem;
    width: 100%;
  }
}
.rowWrapper {
  @include box-shadow(level-2);
  overflow: hidden;
  border-radius: 0.5rem;
  .statesRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.65rem 0.65rem;
    svg {
      color: $primary;
    }
  }

  .column {
    border-bottom: 1px solid $border-light;
    border-right: 1px solid $border-light;
  }

  & > div {
    &:nth-child(even) {
      .statesRow {
        background-color: $background-fill-lighter;
      }
    }
  }
}
