@import "styles/mixins";
.otherStateTitle {
  font-size: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 2rem;
  }

  @include breakpoint(mobile){
  font-size: 1.5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 1.5rem;
  }
    
  }
}

.otherStateDescription {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 1rem;
  }
}
