@import "styles/mixins";
@import "styles/variables";

.wrapper {
  background-color: var(--background-fill-lighter);
  min-height: 100vh;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;

  @include breakpoint(tab-landscape-up) {
    padding-left: calc(1.25rem + 220px + 1.25rem);
    padding-top: 6rem;
    padding-right: 1.5rem;
  }
  @include breakpoint(tablet) {
    padding-top: 5rem;
  }

  h3 {
    &:first-of-type {
      position: relative;
      display: inline-block;
      padding-bottom: 0.75rem;
      margin-bottom: 2rem;
      font-size: 1.5rem;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--primary);
        border-radius: 2px;
        bottom: 0px;
        left: 0px;
      }
    }
  }

  h2,
  h3,
  h4 {
    font-family: var(--primary-font);
  }

  .menu {
    position: fixed;
    width: calc(220px + 1rem);
    background-color: var(--secondary);
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    transform: translateX(-100%);
    transition: transform 0.24s ease, box-shadow 0.24s ease;
    padding: 1rem 0;

    &.active {
      transform: translateX(0);
      box-shadow: 0px 0px 0px 400px rgba($color: #000000, $alpha: 0.9);
    }

    @include breakpoint(tab-landscape-up) {
      height: 100%;
      @include box-shadow(level-5);
      transform: translateX(0);
    }
  }

  .toggle {
    background-color: transparent;
    position: relative;
    &::after {
      content: "";
      width: 70px;
      height: 70px;
      position: absolute;
      background-color: var(--primary);
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 100%;
      left: -0.1rem;
      @include box-shadow(level-1-1);
    }
    overflow: hidden;
    border: none;
    position: fixed;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
    border-radius: 0 100% 100% 0;
    padding: 3rem 0.5rem;
    z-index: 4;
    svg {
      color: $white;
    }

    transition: margin 0.24s ease;
    &.active {
      margin-left: 236px;
      svg {
        transition: transform 0.24s ease;
        transform: rotate(180deg);
      }
    }
  }
}
