@import "styles/variables";
@import "styles/mixins";

.bannerWrapper {
  padding-top: 150px;
  @include breakpoint(tablet) {
    padding-top: 90px;
  }

  .breadCrumbWrapper {
    width: max-content;
    padding: 0.5rem 1rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.13) -16.58%,
      rgba(255, 255, 255, 0) 87.76%
    );
    border-radius: 3px;
  }

  .description {
    max-width: 80%;
  }

  .hr {
    background-color: white;
  }
}

.bannerTitle {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    font-size: 2rem !important;
  }

  @include breakpoint(mobile) {
    font-size: 1.125rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
      font-size: 1.125rem ;
    }
  }
}

.lastUpdate {
  color: white;
  
  span {
    color: $primary;
  }
}