@import "styles/variables";
@import "styles/mixins";

.bottomBanner {
  // background-image: url("/illustration.svg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: repeat-x;

  h2 {
    font-size: 3rem;
  }
}

.ourJob {
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--title-font);
  @include breakpoint(mobile) {
    font-size: 1.5rem;
  }
}
