@import "styles/variables";
@import "styles/mixins";

.supportMsgCard {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: none;
  background-color: $secondary;
  color: $white;
  min-height: 250px;
  align-items: center;

  background-image: url("/support-bg-element.png");
  background-repeat: no-repeat;
  background-position: bottom right;

  .msgTitle {
    font-size: 1.85rem;
    margin-bottom: 1rem;
  }
}
