@import "styles/mixins";
@import "styles/variables";

.wrapper {
  border-left: 8px solid $primary;
  border-radius: 8px 0px 0px 8px;
  padding: 10px 25px;
  @include box-shadow(level-1-1);
  margin-top: 2rem;
  @include breakpoint(mobile) {
    padding: 1rem;
    border-left: none;
    border-top: 8px solid $primary;
    border-radius: 8px;
  }
  // .title {
  //   color: $primary;
  // }
}
