@import "styles/variables";
@import "styles/mixins";

.faqItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;

  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .icon {
    background-color: $white;
    padding: 5px 0;
    z-index: 1;
    svg {
      color: $primary;
    }
  }
  .accordion {
    width: 100%;
  }
}
