@import "styles/mixins";
@import "styles/variables";

%sharedBgStyles {
  background: linear-gradient(
    145.72deg,
    #212529 18.91%,
    #000000 56.3%,
    #b53604 89.55%
  );
}

.hero {
  padding-bottom: 200px;
  margin-bottom: -100px;
  @extend %sharedBgStyles;
  h1,
  h2,
  p,
  span,
  button {
    z-index: 2;
    position: relative;
  }

  h1,
  h2,
  p {
    color: $white;
  }

  h1,
  h2 {
    text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  }
  button {
    @include breakpoint(mobile) {
      max-width: 50%;
    }
  }
}
.dataFields {
  @extend %sharedBgStyles;
}
.otherStateTitle {
  font-size: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 2rem;
  }
}

.pricing {
  @extend %sharedBgStyles;
}
