@import "styles/mixins";
@import "styles/variables";

.faqs {
  width: 100%;
  border-radius: 2px;
  & > h2 {
    margin-bottom: 3rem;
    text-align: center;
  }
}

.faqTitle {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  font-family: var(--title-font);
  align-items: center;
  display: flex;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  h6,
  p,
  b,
  span {
    font-size: 2rem;
    text-align: center;
    font-family: var(--title-font);
    max-width: 800px;
  }
  @include breakpoint(mobile) {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 0.5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    h6,
    p,
    b,
    span {
      font-size: 1.5rem;
    }
  }
}

.questionTitle {
  font-size: 2rem;
  font-family: var(--title-font);
  @include breakpoint(mobile) {
    font-size: 1.5rem;
  }
}
