@import "styles/variables";
@import "styles/mixins";

.wrap {
  padding-top: 160px;
  padding-bottom: 60px;
  position: relative;
  background: linear-gradient(
    145.72deg,
    #212529 18.91%,
    #000000 56.3%,
    #b53604 89.55%
  );

  @include breakpoint(tab-landscape-up) {
    padding-top: 240px;
    max-height: 720px;
  }

  .breadcrumbLink {
    color: $primary;
  }
}

.map {
  filter: grayscale(75%);
  width: 100%;
  height: 308px;
  margin-bottom: 1.5rem;
  @include breakpoint(tab-up) {
    margin-bottom: 60px;
  }
}
.submitBtn {
  border-radius: 5rem;
}

.fromCard {
  z-index: 1;
  textarea,
  input {
    &[type="text"],
    &[type="password"],
    &[type="email"] {
      border-radius: 2rem;
    }
  }
  button {
    border-radius: 2rem;
  }
}

.fieldWrapper {
  position: relative;
  span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(mobile) {
      right: 15px;
    }
    svg {
      color: $primary;
    }
  }
}
