@import "styles/variables";
@import "styles/mixins";

.footer {
  background-color: var(--secondary);
  color: $white;
  max-width: 100vw;
  overflow: hidden;
  .firstRows {
    @include breakpoint(tab-landscape-up) {
      min-height: 300px;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .lastRows {
    height: 68px;
  }
}

.gapFix {
  padding-bottom: 100px;
  @include breakpoint(tablet) {
    padding-bottom: 180px;
  }
}
