@import "styles/variables";

.footer {
  background-color: var(--secondary);
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $white;

  .header {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      line-height: 1.5;
      margin-bottom: 1rem;
      font-size: 0.875rem;
    }
  }

  .privacy {
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
}