// $primary: #FF4800;
$primary: #00A2E2;
$primary-dark: darken(
  $color: $primary,
  $amount: 20,
);
// $secondary: #010F35;
$secondary: #212529;
// $text: #222222;
$text: #212529;
$fill: #f2f5f9;
$border-light: #e5e5e5;
$background-fill-lighter: #f8f8f8;
$border: #e5e5e5;
$danger: #cc2000;
$placeholder: #c4c4c4;
$coolBlue: #0d6efd;
$white: white;
$success: #28a745;

$primary-font: "Open Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
