$primary: #FF4800;
$secondary: #010F35;
$text: #222222;
$fill: #F2F5F9;
$border: #E5E5E5;
$danger: #cc2000;
$placeholder: #c4c4c4;
$coolBlue: #0d6efd;
$white: white;
$success: #28a745;

$primary-font: 'Open Sans', sans-serif;
$title-font: 'Raleway', sans-serif;